@charset "utf-8";
#mapAdministrative {
    position: relative;
    width: 960px;
    height: 532px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background: url("../uploads/map_administr_img.png") no-repeat;
}
#mapAdministrative > img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
#mapAdministrative ul{
    position: absolute;
}
#mapAdministrative ul li {
    position: absolute;
    list-style-type: none;
    display: none;
}
#mapAdministrative ul img{
    position: absolute;
    z-index: 1;
}
#mapAdministrative li div{
	position: absolute;
	z-index: 1;
	width: 165px;
	padding: 13px 16px 9px 16px; 
	text-align: center;
	background: #fff;
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.25);
    left: -35px;
    top: 50px;
}
#mapAdministrative li h2{
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	margin: 0;
}
#mapAdministrative li p{
	margin: 0;
	color: #848484;
	font-size: 13px;
}
#mapAdministrative li div span{
	position: absolute;
	display: block;
	width: 23px;
	height: 13px;
	bottom: 100%;
	left: 50%;
	margin-left: -11px;
	background: url(../uploads/sprite.png) no-repeat -1px -137px; 
}
.mapContent li{
    list-style-type: none;
    display: none;
    font-size: 45px;
    text-align: center;
}
/* =General
--------------------------------------------------------------------------------------------------------*/



/* End General
--------------------------------------------------------------------------------------------------------*/

/* =Typography
--------------------------------------------------------------------------------------------------------*/

/* End Fonts
--------------------------------------------------------------------------------------------------------*/

/* =Header
--------------------------------------------------------------------------------------------------------*/


/* =End Header
--------------------------------------------------------------------------------------------------------*/


/* =Middle
--------------------------------------------------------------------------------------------------------*/


/* End Middle
--------------------------------------------------------------------------------------------------------*/

/* =Footer
--------------------------------------------------------------------------------------------------------*/


/* End Footer
--------------------------------------------------------------------------------------------------------*/


/* =Forms
--------------------------------------------------------------------------------------------------------*/

/* End Forms
--------------------------------------------------------------------------------------------------------*/

/* =Tables
--------------------------------------------------------------------------------------------------------*/

/* Making tables collapse and removing spacing */



/* Preparing table columns */


/* End Tables
--------------------------------------------------------------------------------------------------------*/