@charset "utf-8";
#mapAdministrative {
    position: relative;
    width: 960px;
    height: 532px;
    margin: 0 auto;
    background: url("../uploads/map_administr_img.png") no-repeat;
}
#mapAdministrative img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

/* =General
--------------------------------------------------------------------------------------------------------*/



/* End General
--------------------------------------------------------------------------------------------------------*/

/* =Typography
--------------------------------------------------------------------------------------------------------*/

/* End Fonts
--------------------------------------------------------------------------------------------------------*/

/* =Header
--------------------------------------------------------------------------------------------------------*/


/* =End Header
--------------------------------------------------------------------------------------------------------*/


/* =Middle
--------------------------------------------------------------------------------------------------------*/


/* End Middle
--------------------------------------------------------------------------------------------------------*/

/* =Footer
--------------------------------------------------------------------------------------------------------*/


/* End Footer
--------------------------------------------------------------------------------------------------------*/


/* =Forms
--------------------------------------------------------------------------------------------------------*/

/* End Forms
--------------------------------------------------------------------------------------------------------*/

/* =Tables
--------------------------------------------------------------------------------------------------------*/

/* Making tables collapse and removing spacing */



/* Preparing table columns */


/* End Tables
--------------------------------------------------------------------------------------------------------*/