@charset "utf-8";

/* =Typography
--------------------------------------------------------------------------------------------------------*/

#mapGeographic{
	font-family: Arial, sans-serif;
	color: #000;
}

/* End Fonts
--------------------------------------------------------------------------------------------------------*/



/* mapGeographic
--------------------------------------------------------------------------------------------------------*/

#mapGeographic{
	width: 1300px;
    height: 600px;
	margin: 0 auto;
    position: relative;
}
#map-part-left{
    width: 695px;
    height: 565px;
    background: url("../uploads/map_geographi_left.png") no-repeat;
    position: absolute;
    left: 37px;
    top: 39px;
    z-index: 2;
}
#map-part-right{
    position: absolute;
    right: 37px;
    top: 19px;
    width: 743px;
    height: 565px;
    background: url("../uploads/map_geographi_right.png") no-repeat;
    z-index: 1;
}

/* map control */
#map-control{
	position: absolute;	
	top: 454px;
	left: 340px;
	height: 51px;
	padding: 0 11px 0 18px;
	line-height: 51px;
	background: url(../uploads/sprite.png) no-repeat 0 0;
    z-index: 4;
}
#map-control > span{
	position: absolute;
	left: 100%;
	top: 0;
	display: block;
	width: 13px;
	height: 51px;		 
	background: url(../uploads/sprite.png) no-repeat -912px 0;
}
#map-control a{
	color: #02d2ff;
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
	height: 30px;
	margin-top: -2px;
	padding: 0 9px 0 17px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
#map-control a:first-child{
	margin-right: 10px;
}

#map-control .active{
	color: #000;
	text-decoration: none;
	background: url(../uploads/sprite.png) no-repeat 0px -56px;
}
#map-control .active span{
	display: block;
	width: 8px;
	height: 30px;
	left: 100%;
	top: 0;
	position: absolute;
	background: url(../uploads/sprite.png) no-repeat -441px -56px;
}
#map-control .active span + span{	
	top: -20px;
	left: 50%; 
	width: 24px;
	height: 20px;
	margin-left: -12px;
	background: url(../uploads/sprite.png) no-repeat -977px 0px;
}

#gas-pipe {
    position: absolute;
    width: 1113px;
    height: 445px;
    top: 100px;
    left: 48px;
    background: url("../uploads/gas_pipe_img.png") no-repeat;
    z-index: 3;
}
#mapGeographic h2{
    font-size: 35px;
    padding-left: 10px;
    margin: 0 0 0 134px;
    background: url("../uploads/h2_blue_line.png") no-repeat;
}

#gas-count {
    position: absolute;
    text-align: center;
    width: 1015px;
    height: 316px;
    top: -75px;
    left: 209px;
    padding-top: 125px;
    z-index: 4;
    font-size: 103px;
}
#gas-count strong{
    position: relative;
    z-index: 1;
}
#gas-count p{
    font-size: 18px;
    position: relative;
    top: -33px;
    left: 116px;
}
#gas-count .cloudsDown{
    position: absolute;
    top: -20px;
    left: -30px;
    width: 1015px;
    height: 441px;
    background: url("../uploads/clouds_185_down.png") no-repeat;
    z-index: -1;
}
#gas-count .cloudsUp{
    position: absolute;
    width: 1015px;
    height: 441px;
    top: 0;
    left: 0;
    background: url("../uploads/clouds_185_up.png") no-repeat;
}

/* city list */
#mapGeographic ul{
	position: absolute;
	z-index: 5;
	top: 19px;
	left: 0;
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	list-style-type: none;
}
#mapGeographic ul li{
	position: absolute;
	padding: 5px 7px 5px 10px;
	background: #fff;
    white-space: nowrap;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}
#mapGeographic #petersburg{
	top: 121px;
	left: 249px;
}
#mapGeographic #smolensk{
	top: 155px;
	left: 180px;
}
#mapGeographic #moscow{
	top: 200px;
	left: 254px;
	padding: 5px 24px 5px 8px;
	background: #feff9e url(../uploads/sprite.png) no-repeat 69px -100px;
}
#mapGeographic #kazan{
	top: 256px;
	left: 322px;
}
#mapGeographic #yekaterinburg{
	top: 294px;
	left: 366px;
}
#mapGeographic #krasnodar{
	top: 289px;
	left: 82px;
}
#mapGeographic #urengoy{
	top: 223px;
	left: 556px;
	background: #feff9e;
}
#mapGeographic #krasnoyarsk{
	top: 347px;
	left: 556px;
}
#mapGeographic #khabarovsk{
	top: 411px;
	left: 1010px;
}

/* city list arrows*/
#mapGeographic ul li span{
	position: absolute;
	z-index: -1;
	display: block;
	width: 30px;
	height: 30px;
	background: url(../uploads/city-arrows.png) no-repeat 0 0;
}
#mapGeographic #petersburg span{
	right: 100%;
	top: 5px;
	background-position: 13px 0;
}

#mapGeographic #smolensk span{
	right: 100%;
	top: 0px;
	background-position: 12px -51px;
}
#mapGeographic #moscow span{
	right: 100%;
	top: 0px;
	background-position: 15px -100px;
}
#mapGeographic #kazan span{
	right: 100%;
	top: 5px;
	background-position: 12px -152px;
}
#mapGeographic #yekaterinburg span{
	right: 100%;
	top: -3px;
	background-position: 17px -200px;
}
#mapGeographic #krasnodar span{
	right: 100%;
	top: 6px;
	background-position: 14px -250px;
}
#mapGeographic #urengoy span{
	right: 90%;	
	top: -13px;
	background-position: 14px -300px;
}
#mapGeographic #krasnoyarsk span{
	right: 14%;	
	top: 68%;
	background-position: -3px -360px;
}
#mapGeographic #khabarovsk span{
	left: 100%;	
	top: 5px;
	background-position: -16px -400px;
}



/* End mapGeographic
--------------------------------------------------------------------------------------------------------*/